
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.App{
  text-justify: distribute;
 max-width: 700px;
}
.intro-button{
    margin-top: 5px ; 
    background-color: #4D5B9E;
    color: white ; 
    border: none;
    padding:1em;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    width: max-content;
    margin-left:auto;
    margin-right:auto ; 
  }
  .intro{
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: 3.2em;

  }
  .start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh ; 
    overflow: hidden;
  }
  .loading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh ; 
    overflow: hidden;
  }
  .Wait{
    color: #293264;
    font-size:3em;
    font-family:'Inter',sans-serif;
    font-weight:900;
  }