body{
  background-color: rgb(44, 42, 42);
  color: white;
  height: 100%;
  overflow:visible;
 
}

.Question-container{
  font-weight: bold;
}
.Question{
  padding-right: 1em;
  padding-top:0.5em ; 
  color: #4ADF86;
  margin: 0;
}
.Options{
  display: flex;
  padding-right: 1em;
  gap: 2%;
}
.btn{
  margin-top: 10px ; 
  background-color: blue;
  color: white ; 
  border: none;
  padding:1em;
}
.button-container{
  display: flex;
  gap:1em; 
}

.warning {
  color:red;
}