@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

body{
  height: 100%;
  overflow:visible;
  font-family: 'Inter', sans-serif;
  display: block ;
  margin-left: 150px;
}
.qna{
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
}

.Question{
  padding-right: 1em;
  padding-top:0.5em ; 
  font-size: 1.5em;
  font-family: 'Inter',sans-serif;
  color: #293264;
  margin: 0;
  font-weight:900;
  text-shadow: .5px .2px black;
  
}
.Options{
  display: flex;
  flex-wrap: wrap;
  padding-right: 1em;
  gap: 2%;
}
.btn{
  margin-top: 10px ; 
  background-color: #4D5B9E;
  color: white ; 
  border: none;
  padding:1em;
}
.button-container{
  display: flex;
  margin-bottom: 10px;
  gap:1em; 
}

.warning {
  font-weight: 900;
  color: rgba(255, 64, 0, 0.967);
  text-shadow: .5px .2px black;
}
.score{
  font-size: 2em;
  font-weight: 900;
}